<!DOCTYPE html>
<html lang="pt">
<style>


    body {
        
        background-image:linear-gradient(rgba(217, 217, 217, 0.2) 0%,rgba(217, 217, 217, 0.2) 100%), url('/bgGT') , linear-gradient(rgba(217, 217, 217,1.0), rgba(217, 217, 217,1.0)) ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:  auto 100%;
        background-position: center;
    }   
    

    .tammax{
        max-width: 350px;
    }

    .container {    
        display: flex;
        justify-content: center;
    }   

    /*modal*/
    .modal {
        display: none;
        position: fixed;
        z-index: 5;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
    }
    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /*Navbar*/
    .navbar {
        width: 90%;
        height: 60px;
        margin: 10px auto 0px;
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 28px;
        text-align: left;
        background: #C1AB5F;
    }
    .navbar i {
        position: absolute;
    }
    .navbar i:nth-child(1),
    .navbar i:nth-child(2) {
        position: absolute;
        left: -13px;
        bottom: -1px;
        z-index: -1;
        border-bottom: 20px solid #423B20;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 50px;
        transform: rotateZ(-90deg);
    }
    .navbar i:nth-child(2) {
        bottom: -1px;
        left: auto;
        right: -13px;
        border-bottom: 20px solid #423B20;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 50px;
        transform: rotateZ(90deg);
    }
    .navbar i:nth-child(3),
    .navbar i:nth-child(5) {
        bottom: -22px;
        left: -42px;
        z-index: -3;
        border: 32px solid #827440;
    }
    .navbar i:nth-child(5) {
        bottom: -22px;
        left: auto;
        right: -42px;
        border: 32px solid #827440;
    }
    .navbar i:nth-child(6) {
        z-index: -2;
        bottom: -7px;
        right: -13px;
        border-bottom: 21px solid #C1AB5F;
        border-left: 21px solid transparent;
        border-right: 21px solid transparent;
        height: 0;
        width: 50px;
        transform: rotateZ(90deg);
    }
    .navbar i:nth-child(7) {
        z-index: -2;
        bottom: -7px;
        left: -13px;
        border-bottom: 21px solid #C1AB5F;
        border-left: 21px solid transparent;
        border-right: 21px solid transparent;
        height: 0;
        width: 50px;
        transform: rotateZ(-90deg);
    }

    /*botão*/
    .btn_novoAviso {
        z-index: 2;
        position: absolute;
        top: 22px;
        right: 10%;
        text-align: center;
        text-decoration: none;
        font-size: 22px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 5px;
    }
    .btn_novoAviso:hover {
        background-color: #a6924d;
    }
    
    .brand-controleAvisos {
        color: black;
        position: absolute;
        top: 22px;
        left: 7%;
        font-size: 22px;
        text-align:center;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Avisos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
</head>

<body>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>

</html>